


div {
	float:left;
	display:inline;
}

div.column {
	float: left;
	width: 33%;
}

h1{font-size:100 px;
	text-align: center;
}

.container{
	margin-left: 10px;
	background-color: white;
	vertical-align: center;
}

figcaption{
	text-align: center;
	width:33%;
	padding: 25px 25px 25px 25px;
	}

img {
	display:inline-block;
	float: left;
	height:; 
	width:200px;
	border: 10px;
	margin: auto;
	padding: 10px;
}

#row1 img{
	display: inline-block;
	border-style: solid;
    border-color: black;
}





